<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Molly Offer-Westort: {{ page.title }}</title>
<!-- 			<link rel="icon"  type="image/png"    href="https://mollyow.github.io/assets/molly_brick.jpg"> -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="https://mollyow.github.io/assets/cv_MOW_2021.pdf">CV</a></li>
	        		<!-- <li><a href="/contact">Contact</a></li> -->
	    		</ul>
			</nav>
			<h1>Molly Offer-Westort</h1>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mollyow@gmail.com">email</a></li>
	        		<li><a href="https://github.com/mollyow">github.com/mollyow</a></li>
				</ul>
			</footer>
			
			{% include analytics.html %}
		</body>
	</html>
