<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Molly Offer-Westort: {{ page.title }}</title>
			<link rel="icon"  type="image/png"    href="https://mollyow.github.io/assets/molly_brick.jpg">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<!-- Side navigation -->
        <div class="sidenav">
        
        <img style="float: left; width: 240px; margin: 0 20px 10px 0" src="/assets/molly_brick.jpg" alt="pic" />
        
        <p><strong>Address:</strong><br />
        Political Science Department<br />
        Yale University<br />
        PO Box 208301<br />
        New Haven, CT 06520-8301</p>

        <p><strong>Email:</strong><br />
        <a href="mailto:molly.offer-westort@yale.edu">molly.offer-westort@yale.edu</a><br />
        <a href="mailto:mollyow@gmail.com">mollyow@gmail.com</a></p>

        <p><strong>Or find me on:</strong><br />
        <a href="https://www.linkedin.com/in/molly-offer-westort-1a61b02b" target="_blank">linkedin</a><br />
        <a href="https://twitter.com/mofferw" target="_blank">twitter</a></p>

        </div>		
<!-- Page content -->
            <div class="main">
			<h1>Molly Offer-Westort</h1>
			
			{{ content }}
			

			<footer>
	    		<ul>
	        		Updated February 12, 2019. 
				</ul>
			</footer>

            </div>
			
			{% include analytics.html %}
	</html>
