<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Molly Offer-Westort: {{ page.title }}</title>
			<link rel="icon"  type="image/png"    href="https://mollyow.github.io/assets/molly_brick.jpg">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<!-- Side navigation -->
        <div class="sidenav">
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>		
		<div class="main">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="https://mollyow.github.io/assets/cv_MOW_2019.pdf">CV</a></li>
	        		<!-- <li><a href="/contact">Contact</a></li> -->
	    		</ul>
			</nav>
			<h1>Molly Offer-Westort</h1>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
Updated February 12, 2019. 
				</ul>
			</footer>
			
			{% include analytics.html %}
		</div>
	</html>
