<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Molly Offer-Westort: {{ page.title }}</title>
			<link rel="icon"  type="image/png"    href="https://mollyow.github.io/assets/molly_brick.jpg">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Istok+Web">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
<body>

			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="https://mollyow.github.io/assets/cv_MOW_2019.pdf">CV</a></li>
	        		<!-- <li><a href="/contact">Contact</a></li> -->
	    		</ul>
			</nav>
			<h1>Molly Offer-Westort</h1>

		
		
<div class="container">
<div class="row">

	<div class="col-md-1"></div>

	<div class="col-sm-4 col-md-3 sidecol">

		<div class="hidden-sm hidden-md hidden-lg title">
			<h1>Fredrik SŠvje</h1>
			<h1 style="display: none;">Fredrik Savje</h1>
			<ul>
				<li>Assistant Professor</li>
				<li>Department of Political Science</li>
				<li>Department of Statistics and Data Science</li>
				<li>Yale University</li>
			</ul>
		</div>

		<img src="img/fredrik.jpg" class="img-responsive" alt="Picture of Fredrik SŠvje">

		<ul class="site-btns">
			<li><a href="http://orcid.org/0000-0003-2544-8250" alt="Link to ORCID" data-toggle="tooltip" title="ORCID"><i class="ai ai-orcid"></i></a></li>
			<li><a href="http://scholar.google.com/citations?user=O1TR2GcAAAAJ" alt="Link to Google Scholar" data-toggle="tooltip" title="Google Scholar"><i class="ai ai-google-scholar"></i></a></li>
			<li><a href="https://github.com/fsavje" alt="Link to GitHub" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
			<li><a href="http://arxiv.org/a/savje_f_1.html" alt="Link to arXiv" data-toggle="tooltip" title="arXiv"><i class="ai ai-arxiv"></i></a></li>
		</ul>

		<ul class="menu">
			<li><a href="fredrik-savje-cv.pdf" onclick="ga('send', 'event', 'download-cv', 'download-cv');">Curriculum Vitae</a></li>
		</ul>

		<h3>Office</h3>

		<address>
			Room 226 <br>
			Rosenkranz Hall <br>
			125 Prospect Street
		</address>

		<h3>Contact me</h3>

		<address class="contact">
			&#43;1 (203) 432 4672<br>
			<a href="mailto:molly.offer-westort@yale.edu">fredrik.savje@yale.edu</a>
		</address>

	</div>

	<div class="col-sm-8 maintext">
				
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<div class="updated-time">
		    	Last updated February 12, 2019.
		        </div>

				</ul>
			</footer>
			
			{% include analytics.html %}
		</body>
	</html>
